name: Nightly E2E Tests

on:
  schedule:
    - cron:  '0 3 * * *'
  workflow_dispatch:

jobs:
  # resolve-versions allows us to show resolved Go versions in job titles
  # for added clarity and quick orientation in a long list of past jobs
  resolve-versions:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      -
        name: Resolve old stable version
        id: oldstable
        uses: actions/setup-go@93397bea11091df50f3d7e59dc26a7711a8bcfbe # https://github.com/actions/setup-go/releases/tag/v4.1.0
        with:
          go-version: oldstable
      -
        name: Resolve stable version
        id: stable
        uses: actions/setup-go@93397bea11091df50f3d7e59dc26a7711a8bcfbe # https://github.com/actions/setup-go/releases/tag/v4.1.0
        with:
          go-version: stable
    outputs:
      oldstable: ${{ steps.oldstable.outputs.go-version }}
      stable: ${{ steps.stable.outputs.go-version }}

  e2e-tests:
    name: e2e-tests (${{ matrix.os }}, go ${{ matrix.go_version }})
    needs:
      - resolve-versions
    runs-on: ${{ matrix.os }}
    timeout-minutes: 90
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
        go_version:
          - ${{ needs.resolve-versions.outputs.oldstable }}
          - ${{ needs.resolve-versions.outputs.stable }}
    steps:
    - name: Check out code
      uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # https://github.com/actions/checkout/releases/tag/v4.0.0

    - name: Set up Go
      uses: actions/setup-go@93397bea11091df50f3d7e59dc26a7711a8bcfbe # https://github.com/actions/setup-go/releases/tag/v4.1.0
      with:
        go-version: ${{ matrix.go_version }}

    - name: E2E tests
      timeout-minutes: 60
      env:
        E2E_TESTING: 1
      run: |
        go test -timeout=40m -v ./...
