name: Nightly E2E Tests

on:
  schedule:
    - cron:  '0 3 * * *'
  workflow_dispatch:

jobs:
  test:
    name: E2E Tests
    runs-on: ${{ matrix.os }}
    timeout-minutes: 60
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
    steps:
    - name: Check out code
      uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b # https://github.com/actions/checkout/releases/tag/v3.2.0

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: '1.17'

    - name: E2E tests
      timeout-minutes: 35
      env:
        E2E_TESTING: 1
      run: |
        go test -timeout=30m -v ./...
